.btn {
  @apply bg-red p-4;
}

.navItem {
  @apply mb-3 relative mr-8;
}

.icon {
  @apply w-16 mb-3;
}

.icon-black {
  @apply w-10 mb-2;
}

.stars-lg {
  @apply w-24 mr-2;
}

.stars-xl {
  @apply w-32;
}

.item-box {
  @apply w-12 h-12 border border-grey-light border-solid flex justify-center items-center mr-6;
}

.more-info {
  @apply flex items-baseline p-2 mb-3 bg-grey-lighter relative;
}

.star-xs {
  @apply flex items-baseline p-2 mb-3 bg-grey-lighter relative;
}



