#header{
  transition: top 0.5s;
  z-index: 999;
}

.nav-up {
  top: -120px;
}

.pin-b-minus{
  bottom: -140px;
}

#logo-header{
  margin-top: 5px;
  padding: 8px;
}

#image-caption{
  background-color: rgb(255, 255, 255, 0.8);
}
a+
ul{
  list-style-type: none;
  padding: 0;
}

#product-image-wrapper {
  img {
    margin-bottom: -3.7px;
  }
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.red-dot{
  margin-bottom: 1px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction: alternate;
}

.quantity:focus{
  background-color: #e61f4b;
  color: white;
}


.slider-container{
  .slide{
    width: 100%;
    height: 375px;
    object-fit: cover;
  }
}

.next {
  left: 50%;
}

.prev a,
.next a{
  top: 45%;
  background-color: rgb(255, 255, 255, 0.5);
}

.fade{
  animation-name:fade;
  animation-duration:1.5s;
}

@keyframes fade{
  from {opacity: 0.4;}
  to {opacity: 1;}

}

.activeslide, .dot:hover {
  background-color: #2a78ec;
  border: 1px #2a78ec solid;
}

.outline {
  outline: #f1f1f1 solid 1px;
}

.quantity .sale-amount:focus {
  color: blue;
}


button.item-box:focus{
  border: 2px solid red;
}

.accordion {
  transition: 0.25s;
}


.accordion::after {
  position: absolute;
  right: 0;
  margin-right: 20px;
  content: '\002B';
  color: black;
  font-weight: 400;
  font-size: 30px;
  margin-left: 5px;
}

.active::after {
  content: "\2212" !important;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#customer-experience,
#purchase
{
  order: 2;
}

#footer-nav
{
  order: 3;
}


select{
  appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  color: #333;
  display: block;
  background-color: white;
  border-radius: 5%;
  background-image: url("../../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 15px;
}

a h3:visited{
  color: #231f20;
}

a h3{
  color:#231f20;
}


.parallelogram {
  transform: skew(-15deg);
}

.parallelogram-back {
  transform: skew(15deg);
}

.efficiency,
.easy-usage,
.results{
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}


.flip-clock-label{
  display:none !important;
}

#pop-up{
  top: 60px;
  width: 100vw;
  overflow:hidden;
  left: -24rem;
  padding: 10px;
}

@media only screen and (min-width: 768px){
  #pop-up{
    top: auto;
    bottom: 30px!important;
    width: 400px;
    margin-left: 30px;
  }
}




@media only screen and (min-width: 576px){
  .satisfaction-badge{
    margin: 0 15%;
  }
  #chat-widget-container,
  #livechat-compact-container{
    display:none;
  }
}

@media only screen and (min-width: 712px){
  .qnt-buttons{
    margin-left: 8.3% !important;
    margin-right: 8.333333%!important;
    margin-bottom: -45px!important;
  }
}


@media only screen and (min-width: 768px){
  .qnt-buttons{
    margin-left: 8.3% !important;
    margin-right: 8.333333%!important;
    margin-bottom: -45px!important;
  }
}


@media only screen and (min-width: 1050px){
  .par-black-pos{
    margin-left: -17px;
  }
}

@media only screen and (min-width: 1294px){
  .par-black-pos{
    margin-left: -19px;
  }
  #pop-up-2{
    width: 80%;
    margin-left: 3.7%;
  }
  .pin-b-xl-minus {
    bottom: -47px !important;
  }
  .guy-margin-bottom{
      margin-bottom: -200px;
  }
  .crossed::after,
  .crossed::before{
    width: 147px;
    top: 55px;
  }
}

@media only screen and (max-width: 520px){
  #chat-widget-container,
  #livechat-compact-container{
    display:none;
  }
}

@media only screen and (min-width: 521px){
  #chat-widget-container,
  #livechat-compact-container{
    display:block;
  }
}


.selectQuantity {
  display: flex!important;
}

.showRequired {
  display: block!important;
  padding-top: 5px;
}

html {
  scroll-behavior: smooth;
}


//INPUT NUMBER

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  margin-bottom: 1rem;
}

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  text-align: center;
}

.number-input.number-input {
  border-bottom: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
}

.number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
}

.number-input.number-input button.minus {
  padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}

.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid white;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {

    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -.3rem;
    }
  }
}


//FRILLA

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder { /* Edge */
  color: #959595;
  font-size: 16px;
}

textarea::-ms-input-placeholder ,
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #959595;
  font-size: 16px;
}

textarea::placeholder,
input::placeholder {
  color: #959595;
  font-size: 16px;
}


//

button{
  transition: all .3s;
}

// BEFORE AFTER SLIDER STYLES


/* Our normalize css */
*{
  margin:0;
  box-sizing: border-box;
}

/* Our wrapper */
.wrapper{
  width:100%;
  max-width: 438px;
  height: 600px;
  left:50%;
  top:50%;
  transform:translate3d(0%,0%,0);
  overflow:hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Our image information */
.before,
.after {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
  overflow: hidden;
}

.content-image{
  height:100%;
  max-width: none;
}

.after{
  width:125px;
}

.scroller{
  width: 50px;
  height:50px;
  position: absolute;
  left:100px;
  top:50%;
  transform:translateY(-50%);
  border-radius:50%;
  background-color: transparent;
  opacity:0.9;
  pointer-events:auto;
  cursor: pointer;
}

.scroller:hover{
  opacity:1;
}

.scrolling{
  pointer-events:none;
  opacity:1;
  // z-index: 1;
}

.scroller__thumb{
  width:100%;
  height:100%;
  padding:5px;
}

.scroller:before,
.scroller:after{
  content:" ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition:0.1s;
}
.scroller:before{
  top:100%;
}
.scroller:after{
  bottom:100%;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller{
  border: 5px solid #fff;
}
.scroller:before,
.scroller:after{
  background: #fff;
}


/// testimonial shadow

.testimonial-shadow {
  -webkit-box-shadow: 1px 1px 12px #e7e7e7;
  box-shadow: 1px 1px 12px #e7e7e7;
}

ul{
  list-style-type: none;
}

#btntest:hover img{
  border-radius: 50%;
  background-color: black;
}

.underline{
  text-decoration: underline;
  padding-bottom:3px;
}

.toggle-review{
  height: auto;
  opacity: 1;
  transition:  all linear .2s .05s;
}

#like{
  stroke: black;
  stroke-width:0.8px;
  cursor: pointer;
}

#like.red-heart{
  stroke: #e89990!important;
  fill: #e89990!important;
  stroke-width:0.8px;

}


.shopping-bag{
  fill: white;
  stroke: white;
  stroke-width:0.8px;
  margin-right: 10px;
  width: 12px;
  height: auto;

}

.addToCart:hover .shopping-bag,
.solo:hover .shopping-bag,
.bff:hover .shopping-bag,
.fam:hover .shopping-bag{
  fill: black;
  stroke: black;
  stroke-width:0.8px;

}

