/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

* {
    box-sizing: border-box;
}


.slider {
    width: 100%;
    margin: auto;
}

.slick-slide {
    margin: 0px;
}

.slick-slide {
    transition: all ease-in-out .2s;
    opacity: 1;
}

.slick-active {
    opacity: 1;
}


.slick-current {
    opacity: 1;
}


.slick-prev,
.slick-next {
    font-size: 0px;
    line-height: 0;
    position: absolute;
    top: 46%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    cursor: pointer;
}


.slick-prev:before {
    content: url('../img/left_arrow_bg.svg');
    z-index: 40;
    padding-top: 20px;
}

[dir='rtl'] .slick-prev:before {
    content: url('../img/left_arrow_bg.svg');
    z-index: 40;
}

.slick-next {
    right: 0px;
}


.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 1;
}


.slick-prev {
    left: 0px;
    z-index: 40;
}

[dir='rtl'] .slick-next {
    right: auto;
    right: 0px;
    z-index: 40;
}

.slick-next:before {
    content: url('../img/right_arrow_bg.svg');
    z-index: 40;
    padding-top: 20px;
}

[dir='rtl'] .slick-next:before {
    content: url('../img/right_arrow_bg.svg');
    z-index: 40;
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 50px;
}

.slick-dots {
    position: absolute;
    bottom: -35px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}


.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 16px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 13px;
    height: 13px;

    content: '';
    text-align: center;

    opacity: 1;
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 50%;
}

.slick-dots li.slick-active button:before
{
    opacity: 1;
    background-color: #2a78ec;
    border: 0;
}

.single-item .page .w-3{
        width: .75rem;
}

.single-item .page .w-16{
    width: 4rem;
}

.page .slick-dots li button{
    color: #1c146b;
}


/*--TESTIMOIALS STYLING--*/

.testimonials .slick-slider .slick-dots {
    opacity: 1!important;
    color: red!important;
}

.testimonials .slick-prev:before,
.testimonials .slick-next:before {
    color: black;
}


.testimonials .slick-slide {
    transition: none;
    opacity: 1;
}

.testimonials .slick-active {
    opacity: .3;

}

.testimonials .slick-current {
    opacity: 1;
}


.testimonials .slick-prev,
.testimonials .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: -35px;
    display: block;

    width: 9px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.testimonials .slick-prev:before {
    content: url('../img/icon_arrow-left.svg');
}

[dir='rtl'] .testimonials .slick-prev:before {
    content: url('../img/icon_arrow-right.svg');
}

.testimonials .slick-next {
    right: 5px;
    top: auto;
    z-index: 1;
    cursor: pointer;
    bottom: -50px;

}

.testimonials .slick-prev {
    left: 0px;
    z-index: 1;
    top: auto;
    bottom: -50px;
    cursor: pointer;
}

[dir='rtl'].testimonials .slick-next {
    right: auto;
    left: -25px;
}

.testimonials .slick-next:before {
    content: url('../img/icon_arrow-right.svg');
}

[dir='rtl'] .testimonials .slick-next:before {
    content: url('../img/icon_arrow-left.svg');
}

/* Dots */
.testimonials .slick-dotted.slick-slider {
    margin-bottom: 50px;
}

.testimonials .slick-dots {
    position: absolute;
    bottom: -41px;

    display: block;

    width: 100%;
    padding-right: 5%;
    margin: 0;

    list-style: none;

    text-align: center;
}

.testimonials .slick-dots li{
    margin: 0 3px;
    width: 22px;
}


.testimonials .slick-dots li button{
    font-size: 16px!important;
    color: black;
    width: 22px;
}


.testimonials .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    content: '';
    text-align: center;
    opacity: 0!important;
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 50%;
}

.testimonials .slick-dots li.slick-active button:before
{
    opacity: 1;
    color: black;
    font-weight: bold!important;
    border: 0;
}

.testimonials .page .w-3{
    width: .75rem;
}

.testimonials .page .w-16{
    width: 4rem;
}

.testimonials .page .slick-dots li button{
    color: #1c146b;
}



